@media print {

	body {
		--accent-h: 0; 
    	--accent-s: 0%;
    	--accent-l: 0%;
	}

	h1:first-of-type {
		column-span: all !important;
		text-align: center !important;
	}

	.markdown-preview-view {
		column-count: 2 !important;
		column-rule: none !important;
		column-gap: 2em !important;

	}

	body {
		--font-text: 'Inter' !important;
		--list-marker-color: var(--black5) !important;
	}

	.task-list-item-checkbox {
		--checkbox-color: var(--black5) !important;
    	--checkbox-border-color: var(--black5) !important;
		--checklist-done-color: rgba(var(--black5), 0.5) !important;
	}

	input[type=checkbox]
	{
    border: 1px solid var(--checkbox-color);
	}

	input[type=checkbox]:checked
	{
    background-color: var(--checkbox-color);
    box-shadow: inset 0 0 0 2px #fff;
	}

	input[type=checkbox]:checked:after
	{
    display: none;
	}
}